<div class="flex-center h-80vh">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-black-50 text-capitalize text-center ">To accese your GitHub account, Log in here.</h1>
    </div>
    <div class=" col-sm-12 col-md-12  flex-center ">
      <button  class="btn align-content-center dusty-grass-gradient" mdbBtn type="button"  size="lg" mdbWavesEffect (click)="auth.login()"> 
        <i class="fa fa-github mr-2" aria-hidden="true"></i> Login</button>
    </div>
  </div>
</div>